.npm
node_modules

# it is a LOCAL file only!
.env

# Coverage directory used by tools like istanbul
/coverage
/lib-cov

# =========================================

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Optional REPL history
.node_repl_history
