{{!--

Wix Integration service for volebo.net

Copyright (C) 2016  Volebo <volebo.net@gmail.com>
Copyright (C) 2016  Koryukov Maksim <maxkoryukov@gmail.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the MIT License, attached to this software package.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

You should have received a copy of the MIT License along with this
program. If not, see <https://opensource.org/licenses/MIT>.

http://spdx.org/licenses/MIT

--}}

<!DOCTYPE html>
<html lang="{{lang.code}}">
	<head>
		<title>{{title}}</title>

		<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
		<script src="//static.parastorage.com/services/js-sdk/1.66.0/js/wix.min.js"></script>
	</head>
	<body>

		{{~{body}~}}

	</body>
</html>
